.form-style{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0;
}
label,input,select{
    margin-top: 10px;
}
label{
    font-weight: 600;
}
select{
    width: 30%;
}
input,select{
    border-radius: 5px;
}
.input-full{
    width: 50%;
}
.button-style{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}
button{
    margin-right: 100px;
}
.main-div{
    margin-top: 18px;
    margin-bottom: 30px;
    border: none;
    background-color: rgba(211, 211, 211, 0.26);
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
h4{
    text-decoration: underline;
}
span{
    color: red;
}
.cancel{
    border: 1px solid rgb(214, 10, 10);
    /* background-color: white; */
    padding: 8px 30px;
    border-radius: 3px;
    color: rgb(214, 10, 10);
    font-weight: 600;
}
.submit{
    border: 1px solid rgb(4, 121, 4);
    background-color: rgb(4, 121, 4);
    padding: 8px 30px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}
@media only screen and (max-width:576px) {
    label,input,select{
        margin-top: 19px;
    }
}