.form-style{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0;
}
label,input,select{
    margin-top: 10px;
}
.input-full{
    width: 50%;
}
.button-style{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}
button{
    margin-left: 20px;
}
.main-div{
    border: 1px solid black;
    padding: 100px 30px;
}